@value colors: "../../app/styles/vars.css";
@value black,primary,primary-dark,danger,white from colors;

.button {
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  margin: 0.5rem;
  &>a {
    text-decoration: none;
  }
}

.buttonFilled {
  background-color: primary-dark;
  color: white;
  border: 1px solid primary-dark;
  &:hover {
    background-color: primary;
    border: 1px solid primary;
  }
}

.buttonOutlined {
  background: none;
  color: primary;
  border: 1px solid primary-dark;
  &:hover {
    color: primary;
    border: 1px solid primary;
  }
}
