.productListings {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featuredProductListings {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 770px) {
    .featuredProductListings {
        flex-direction: column;
    }
}