.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 25%;
    gap: 1rem;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 0;
}

.body {
    font-size: 1rem;
}

@media screen and (max-width: 769px) {
    .aboutSection {
        padding: 1rem 5%;
    }
}