.newsletterSignUp {
    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 1rem;
}

.emailForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
}

.heading {
    font-size: 2rem;
    margin: 0;
}

.emailLabel {
    font-size: 1rem;
}
.email {
    padding: 0.5rem;
    margin: 2px;
    border-radius: 0.3rem;
}

@media screen and (max-width: 480px){
    .newsletterSignUp {
        width: 100%;
        text-align: center;
    }
    .emailLabel {
        display: none;
    }
}