@value colors: "../../app/styles/vars.css";
@value black,primary,primary-dark,danger,white from colors;

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(100px,250px), 1fr));
    grid-gap: 10px;
}