@value colors: "../../app/styles/vars.css";
@value black,primary,primary-dark,danger,white from colors;

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(100px,250px), 1fr));
    grid-gap: 10px;
}

.button {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.buttonFilled {
    background-color: primary;
    color: white;
    border: 1px solid primary;
    &:hover {
        background-color: primary-dark;
        border: 1px solid primary-dark;
    }
}

.buttonOutlined {
    background: none;
    color: primary;
    border: 1px solid primary;
    &:hover {
        color: primary-dark;
        border: 1px solid primary-dark;
    }
}